@mainColor: #ffb04e;
@color_5: #ec890e;

@import "pizza/pizza-card";
@import "top-panel";
@import "right-panel";
@import "discount-panel";
@import "badge-top";
@import "left-panel";
@import "footer";
@import "pizza/pizza-order-card";

@right_panel_width: 320px;
@top-panel_height: 80px;
@top_panel_color: rgba(45, 45, 48, 0.95);
@dark_gray: #a9a9a9;

body {
  font-family: "Avenir Next", serif;
  font-size: 0;
  background: #fffde6;
}


.main-pizza {
  margin-right: @right_panel_width;
  margin-top: @top-panel_height + 20px;
}

.inner-container {
  max-width: 1000px;
  margin: auto;

  padding: 10px;

}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  background-repeat: repeat-x;
}

@media (max-width: 600px) {
  .badge-top {
    left: 8px;
  }

  .top-panel {
    padding-right: 0;
    .middle {
      .sign-up-label {
        padding-top: 5px;
      }
      .sign-in-label {
        padding-top: 5px;
      }
      .upper-row {
        border: none;
        .phone-number {
          padding-left: 2px;
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .top-panel {
    padding-right: 120px;
    .sign-in-label, .sign-up-label {
      float: right;
      margin-top: 5px;
    }
  }
}

@media (max-width: 850px) {
  .top-panel {
    padding-right: 285px;
    padding-left: 120px;
  }

  .right-panel {
    min-width: 280px;
    width: 280px;
    .order-list-title {
      font-size: 16px;
      line-height: 18px;
    }
    .order-one {
      .order-title {
        font-size: 16px;
        line-height: 18px;
      }
      .label {
        padding: 0;
      }
      .price-box {
        .count-clear {
          margin-left: 5px;
        }
      }
    }
  }

  .left-panel {
    padding-left: 18px;
    padding-right: 298px;
  }
}