<div class="discount-panel">
    <div class="discount-before">
    </div>
    <div class="discount-title">
        every third<br>pizza
    </div>
    <div class="discount-text">
        for free
    </div>
</div>

<footer class="footer">
    <p style="margin: 0">Credits</p>
    <p>
        Project of lil_n1kky<br> Made during Modern Internet Technologies course at KMA<br> 2017
    </p>
</footer>