<div class="row order-page-panel">
    <div class="left-panel-order">
        <div class="form-contacts">
            <div class="attraction">
                let's get acquainted
            </div>
            <div class="row">
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <div class="form-group full-name-input">
                            <label class="col-sm-2 control-label">name</label>
                            <div class="col-sm-10 input-name">
                                <input class="form-control" type="text" id="input_name" placeholder="Jon Snow">
                            </div>
                            <span class="help-block name-help-block text-danger" style="display:none">
                                barely looks like a name
                            </span>
                        </div>
                        <div class="form-group phone-number-input">
                            <label class="col-sm-2 control-label">phone</label>
                            <div class="col-sm-10 input-phone">
                                <input class="form-control" type="text" id="input_phone" placeholder="+12345678">
                            </div>
                            <span class="help-block phone-help-block text-danger" style="display:none">
                               please, enter phone number correctly
                            </span>
                        </div>
                        <div class="form-group address-input">
                            <label class="col-sm-2 control-label">address</label>
                            <div class="col-sm-10 input-address">
                                <input class="form-control" type="text" id="input_address"
                                       placeholder="city, street, house number">
                            </div>
                            <span class="help-block address-help-block text-danger" style="display:none">
                                enter delivery address
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 order-summary">
                    <div class=" bs-callout bs-callout-warning">
                        <h4>order info</h4>
                        <p class="final-delivery-time">
                            <b>approximate delivery time:</b> unknown
                        </p>
                        <p class="final-address">
                            <b>delivery address:</b> unknown
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group button-holder">
                    <button type="button" class="btn btn-warning btn-block go-on-button">
                        go on
                        <i class="glyphicon glyphicon-chevron-right icon-white">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>