<div class="container-fluid main-container">
    <div class="row">
        <div class="left-panel">
            <div class="page-title">
                <h2>
                    <span class="main-title">choose yours</span>
                </h2>
            </div>
            <div class="all-pizza-type-wrap">
                <ul class="nav nav-pills all-pizza-type">
                    <li role="presentation" class="active pizza-filter-button" id="all-pizza">
                        <a href="#">
                            all pizzas
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="premium">
                        <a href="#">
                            premium
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="mozzarella">
                        <a href="#">
                            mozzarella
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="pineapples">
                        <a href="#">
                            pineapples
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="meat">
                        <a href="#">
                            meat
                        </a>
                    </li>
                    <li role="presentation" class="pizza-filter-button" id="vega">
                        <a href="#">
                            vega
                        </a>
                    </li>

                </ul>
            </div>
            <div class="row pizza-list container-fluid">
                <div class="main-pizza">
                    <div class="row" id="pizza_list">
                    </div>
                </div>
            </div>

        </div>
        <div class="right-panel">
            <div class="top-part">
        <span class="order-list-title">
                    pizzas in order:
                    <span class="order-count">0</span>
                </span>

                <span class="clear-order">
                    clear order
                </span>
            </div>
            <div class="main-part">
                <div id="cart">
                </div>
            </div>
            <div class="bottom-part">
        <span class="total-price-title" style="">
        </span>
                <span class="total-price" style="">

                </span>
                <div class="place-order-button">

                    <a  type="button" class="button btn btn-warning btn-lg btn-block button-order">
                        place order
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
