<div class="left-panel">
    <div class="page-title">
        <h2>
            <span class="main-title">choose yours</span>
        </h2>
    </div>
    <div class="all-pizza-type-wrap">
        <ul class="nav nav-pills all-pizza-type">
            <li role="presentation" class="active pizza-filter-button" id="all-pizza">
                <a href="#">
                    all pizzas
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="premium">
                <a href="#">
                    premium
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="mozzarella">
                <a href="#">
                    mozzarella
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="pineapples">
                <a href="#">
                    pineapples
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="meat">
                <a href="#">
                    meat
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="vega">
                <a href="/#">
                    vega
                </a>
            </li>

        </ul>
    </div>
    <div class="row pizza-list container-fluid">
        <div class="main-pizza">
            <div class="row" id="pizza_list">
            </div>
        </div>
    </div>

</div>

